<a href="https://colab.research.google.com/github/vinods03/deep_learning/blob/main/NLP_9_Python_project_Spam_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Text transformation and analysis

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/smsspamcollection.tsv', sep = '\t')

In [ ]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [ ]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [ ]:
df['label'].unique()

array(['ham', 'spam'], dtype=object)

In [ ]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [ ]:
df.groupby('label').count()

       message  length  punct
label
ham       4825    4825   4825
spam       747     747    747

In [ ]:
X = df['message']

In [ ]:
y = df['label']

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
count_vect = CountVectorizer()

In [ ]:
X_counts = count_vect.fit_transform(X)

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer

In [ ]:
tfidf_transformer = TfidfTransformer()

In [ ]:
X_tfidf = tfidf_transformer.fit_transform(X_counts)

In [ ]:
print(type(X_tfidf))

<class 'scipy.sparse.csr.csr_matrix'>

In [ ]:
# there is a single method to do both count vectorization and idf transformation

from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf_vectorizer = TfidfVectorizer()

In [ ]:
X_tfidf = tfidf_vectorizer.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_tfidf, y, test_size = 0.2)

In [ ]:
# transformation done - modeling begins

from sklearn.svm import SVC

In [ ]:
svc = SVC()

In [ ]:
svc.fit(X_train, y_train)

SVC()

In [ ]:
y_test_pred = svc.predict(X_test)

In [ ]:
y_test_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [ ]:
import sklearn.metrics as metrics
accuracy = metrics.accuracy_score(y_test, y_test_pred)
error = 1 - accuracy
precision = metrics.precision_score(y_test, y_test_pred, pos_label = 'ham')
recall = metrics.recall_score(y_test, y_test_pred, pos_label = 'ham')
f1 = metrics.f1_score(y_test, y_test_pred, pos_label = 'ham')
cm = metrics.confusion_matrix(y_test, y_test_pred)

# without pos_label = 'ham', i was getting value error -> because labels were not converted to numeric ?

print('accuracy', accuracy)
print('error', error)
print('precision', precision)
print('recall', recall)
print('f1',f1)

print('\n')
print('Confusion Matrix')
print(cm)

print('\n')
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_pred))

accuracy 0.9739910313901345
error 0.026008968609865457
precision 0.9706477732793523
recall 1.0
f1 0.985105290190036


Confusion Matrix
[[959   0]
 [ 29 127]]


              precision    recall  f1-score   support

         ham       0.97      1.00      0.99       959
        spam       1.00      0.81      0.90       156

    accuracy                           0.97      1115
   macro avg       0.99      0.91      0.94      1115
weighted avg       0.97      0.97      0.97      1115

In [ ]:
msg = ['Hi how are ya ?']
msg_tfidf = tfidf_vectorizer.transform(msg)
msg_pred = svc.predict(msg_tfidf)
msg_pred

array(['ham'], dtype=object)

In [ ]:
msg = ['Congratulations !!! You won a freee lottery ticket worth 25 million USD !!!! Text WON to 44255']
msg_tfidf = tfidf_vectorizer.transform(msg)
msg_pred = svc.predict(msg_tfidf)
msg_pred

array(['spam'], dtype=object)